/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
html{
  font-size: 10px;
}
body{
  background-color: black;
  color: white;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
section{
  width: 100%;
}
input{
  width: 50%;
  height: 56px;
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: 24px;
  color: black;
  margin-bottom: 15px;
  text-align: center;
}
button{
  width: 50%;
  font-size: 18px;
  height: 44px;
  background-color: lightslategray;
  border: none;
  border-radius: 10px;
  color: white;
}
h2{
  margin-top: 10px;
  height: auto;
  font-size: 50px;
}
h3, h4{
  margin-top: 10px;
  height: auto;
  font-size: 25px;
  display: block;
  justify-items: center;
}